/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

/* Header Styles */
header {
    background-color: #52a847;
    padding: 20px 0;
    text-align: center;
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a.active {
    color: #ffd700; /* Change to your active color */
}

/* Hero Section Styles */
.hero {
    background-image: url('land.jpg'); /* Change to your hero background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/* Mission Section Styles */
.mission {
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.mission-text {
    flex: 1;
    text-align: center;
}

.mission-image {
    flex: 1;
    max-width: 100%;
    height: auto;
}

/* Values Section Styles */
.values {
    background-color: #fff;
    padding: 50px 0;
}

.values h2 {
    text-align: center;
    margin-bottom: 30px;
}

.values-container {
    display: flex;
    justify-content: space-around;
}

.value {
    text-align: center;
    margin: 0 20px;
}

.value img {
    width: 220px;
    margin-bottom: 20px;
}

.value h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
